@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    font-family: "Roboto Slab", serif;
    background-color: rgb(236, 236, 236);
    color: rgb(20, 20, 20);
}


.hero {
    width: 100%;
    background-image: url("#");
    min-height: 720px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav img{
    width: 100px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav ul li{
    margin: 0 10px 0 10px;
}


