@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

p{
    font-size: larger;
}

:root {
    --orange: #e48512;
    --black: rgb(20, 20, 20);
    --nav-width: 7%;
}

/**---Hero---**/

.hero {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    margin-left: var(--nav-width);
}

.bg-img {
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.content {
    position: relative;
}

.btn-hero {
    border: white solid .1em;
    border-radius: 3em;
    background-color: transparent;
    font-size: 24pt;
    padding: .3em .1em .1em;
    margin-top: 0;
    color: white;
    transition: padding 50ms, margin-top 50ms;
    
}

.btn-hero:hover {
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: .4em;
}

/**---Nav---**/

.nav{
    background-color: whitesmoke;
    width: var(--nav-width);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    min-height: 100vh;
    text-align: center;
    /*box-shadow: -10px 0 10px rgb(167, 167, 167) inset;*/
}

.nav img{
    width: 80%;
    margin-top: 1em;
}

.nav .links{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50vh;
}

.nav .links a{
    color: var(--orange);
    font-size: 2em;
}

.nav .links a:hover{
    color: #d1730083;
}

.nav .socials{
    margin-top: 100%;
}

.nav .socials a{
    color: var(--orange);
    font-size: 1em;
}

.smooth {
    scroll-behavior: smooth;
}

/**---h1-6---**/

h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2em;
}

h2{
    margin-bottom: 1em;
}

h4 {
    margin-bottom: 1em;
}



/**---Body---**/

.body{
    /*background-color: rgb(255, 255, 255);*/
    color: var(--black);
    margin-left: var(--nav-width);
}

.btn {
    color: var(--orange);
    padding: .3em;
}

.leadertext {
    margin: 5em 0;
    min-height: 200px;
}

.center {
    text-align: center;
}

.wrapper {
    margin: 0em 15em;
    padding: 3em 0;
}

.full-img-txt {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.full-img-txt .img {
    width: 100%; 
    height: 100%;  
    background-size: cover; 
    background-position: center;
}

.full-img-txt .spacer {
    margin: auto 4em;
}

.reverse {
    flex-direction: row-reverse;
}

.bg-dark {
    background-color: whitesmoke;
}

/**---Zitate---**/

.flex {
    display: flex;
}

.flexitem {
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    margin: 1em;
}

.flexitem span {
    color: lightgrey;
    transition: color 70ms;
}

.flexitem span:hover{
    color: rgb(131, 131, 131);
}

.icon {
    margin-bottom: 1em;
}

/**---Professoren---**/

.prof{
    margin-top: 3em;
    display: flex;
}

.prof-img-round {
    min-height: 12em;
    min-width: 12em;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 2em;
}

.prof-txt{
    margin: auto 0;
    width: 50%;
    padding: 0 1em 0 1em;
}

.prof-txt h3{
    margin-bottom: 1em;
}

/**---Kontakt---**/

.contact{
    display: flex;
    justify-content: space-between;
}

.contact-txt h2{
    margin-bottom: 1em;
}

.contact-img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/**---Footer---**/

.footer {
    background-color: var(--orange);
    max-height: 2em;
    margin-left: var(--nav-width);
    padding: .5em 12em;
    text-align: center;
    color: white;
    font-size: 10pt;
    text-transform: uppercase;
}